
<h2>Datos del trabajador</h2>
<%= render 'trabajadors/trabajadoractual' %>

<h1>Modificar Episodio </h1>
<%= render 'form', episode: @episode %>

<%= link_to 'Show', @episode %> |
<%# <%= link_to 'Back', episodes_path %> %>
