
<% content_for :EpisodioActual do %>
  <%= render "episodes/episodio_actual" %>
<% end %>

<% content_for :nuevoSeguimiento do %>
<h4>Seguimiento de hoy</h4>
<%= render 'form' %>
<%= link_to 'Volver', trabajador_path(@trabajador) %>

<% end %>
