<div class="container">
  <div class="card">

  <%= button_to "Ingresar Trabajador", new_trabajador_path, :method => "get" %>

   <%= button_to "Listado de Trabajadores", trabajadors_path, :method => "get" %>


  </div>
</div>
