<h1>Editing Test</h1>

<% if @test.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@test.errors.count, "error") %> impide grabar este test:</h2>

    <ul>
      <% @test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= render 'form', test: @test %>

<%= link_to 'Volver', trabajador_tests_path(@trabajador) %>
