<%# <% content_for :EpisodioActual do %>
  <%# <%= render "episodes/episodio_actual" %>
<%# <% end %>

<% content_for :nuevoTest do %>
<p id="notice"><%= notice %></p>

<h4>Ingresar resultado de test</h4>


<%= render 'form' %>
<%= link_to 'Volver', trabajador_path(@trabajador) %>

<% end %>
